$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);

body {
  font-family: $font-1;
  color: $color-3;
  background-color: $color-2;
}

// SignIn

.form_signin{
  margin: 15% auto;
  width: 250px;
}

.input_signin{
  margin-bottom: 5%;
}

.button_signin{
  margin: 10% 14%;
}

.redirection_signin{
  margin: 20% 30%;
}

// SignUp

.form_signup{
  margin: 10% auto;
  width: 250px;
}

.input_signup{
  margin-bottom: 10%;
}

.button_signup{
  margin: 0 14%;
}

.redirection_signup{
  margin: 10% 24%;
}

// Gallery.js

.images {
    .sort-images {
      margin-top: 1%;
      display: grid;
      grid-template-columns: 10% 70% 20%;
      padding: 0px;
      border-radius: 15px;
      background: $color-3;
      color: $color-1;
      box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
  
      ul {
        display: flex;
        justify-content: space-around;
  
        input[type="radio"] {
          transform: translate(-5px, 1px);
        }

        li{
          list-style: outside none none;
        }
      }
      
      .MuiOutlinedInput-root {
        position: relative;
        border-radius: 15px;
      }

      .MuiFormLabel-root {
        color: #61dafb;
        padding: 0;
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.00938em;
      }

      .MuiOutlinedInput-input {
        padding: 16.5px 24px;
      }

      .MuiInputBase-root {
        color: #61dafb;
        cursor: text;
        display: inline-flex;
        position: relative;
        font-size: 1rem;
        box-sizing: border-box;
        align-items: center;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.1876em;
        letter-spacing: 0.00938em;
      }

      .MuiOutlinedInput-notchedOutline {
        border-color: #61dafb;
        border-width: 2px;
      }

      .MuiFormLabel-root.Mui-focused{
        color: #61dafb;
      }

      .MuiOutlinedInput-root.Mui-focused
      .MuiOutlinedInput-notchedOutline{
        border-color: #61dafb;
        border-width: 2px;
      }

      .MuiInputLabel-outlined.MuiInputLabel-shrink {
        transform: translate(14px, -2px) scale(0.75);
      }
    }
    .cancel {
      margin: 15px auto 15px;
      width: 100%;
  
      h4 {
        border: 2px #61dafb solid;
        text-align: center;
        padding-top: 10px;
        width: 300px;
        height: 30px;
        margin: 0 auto;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
  
        &:hover {
          background: #61dafb;
          border-color: #61dafb;
        }
      }
    }
  
    .images-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 160px;
    }
  }
  
  
// Image.js
.card {
    height: 350px;
    position: relative;
    margin: 5px;
    box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
    transition: 0.3s;
    overflow: hidden;
    border-radius: 4px;
  
    &:hover {
      transform: scale(1.25);
      z-index: 2;
    }
  
    img {
      object-fit: cover;
      height: 350px;
      width: 300px;
    }
    .data-container {
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s;
  
      &:hover {
        opacity: 1;
  
        ul {
          transform: scaleY(1);
        }
      }

      ul {
        color: $color-2;
        padding-top: 5px;
        display: grid;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        transform: scaleY(0.3);
        z-index: 20;
  
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.02s;
        }
      }
      a {
        height: 350px;
        width: 300px;
        display: inline-block;
  
        &:nth-child(1) {
          font-weight: bold;
          color: $color-1;
        }
      }
    }
  }
  
// GalleryImage

.galeryImage{

    .retour{
        margin-top: 1%;
    }

    .img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1%;
      object-fit: cover;
      width: 30%;
    }

    .information{
        li{
            display: inline;
            margin-right: 1%;
            color: grey;
            grid-template-columns: 20% 80%;
            padding: 8px;
            border-radius: 15px;
            background: $color-3;
            color: $color-1;
            box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
        }
    }
}
