// SignIn

.form_signin{
    margin: 15% auto;
    width: 250px;
}

.input_signin{
    margin-bottom: 5%;
}

.button_signin{
    margin: 10% 14%;
}

.redirection_signin{
    margin: 20% 30%;
}

// SignUp

.form_signup{
    margin: 10% auto;
    width: 250px;
}

.input_signup{
    margin-bottom: 10%;
}

.button_signup{
    margin: 0 14%;
}

.redirection_signup{
    margin: 10% 24%;
}